<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990816137997-d525u2hf6jl5octjlnt41218051btv9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990816137997-d525u2hf6jl5octjlnt41218051btv9h</string>
	<key>API_KEY</key>
	<string>AIzaSyDdCdiEsdvkSgI_6bhFpGe2MohtZ7ChPy4</string>
	<key>GCM_SENDER_ID</key>
	<string>990816137997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kim-dohyeon.Omnibus.jsonParsing</string>
	<key>PROJECT_ID</key>
	<string>jsonparsing-e42fa</string>
	<key>STORAGE_BUCKET</key>
	<string>jsonparsing-e42fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990816137997:ios:29088a16112f9006f2f644</string>
</dict>
</plist>